<div class="login fondodiv">
  <h1>Iniciar sesion</h1>
  <form method="post">
    <input type="text" name="user" placeholder="Usuario" required="required" />
    <input type="password" name="password" placeholder="Contraseña" required="required" />
    <button type="submit" class=" btn btn-primary btn-block btn-large">Entrar</button>
    {{#if error}}
    <p class="error">usuario y/o contraseña son incorrectas</p>
    {{/if}}
  </form>
</div>