<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Custom Valdez</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/customvaldez.css">

</head>

<body>
  <header>
    <nav>
      <ul>
        <li class="nav-item" id="#section-1"><a class="nav-link" href="#section-1">Inicio</a></li>
        <li class="nav-item" id="#section-2"><a class="nav-link" href="#section-2">Nosotros</a></li>
        <li class="nav-item" id="#section-3"><a class="nav-link" href="#section-3">Galeria</a></li>
        <li class="nav-item" id="#section-4"><a class="nav-link" href="#section-4">Servicios</a></li>
        <li class="nav-item" id="#section-5"><a class="nav-link" href="#section-5">Contactanos</a></li>
      </ul>
    </nav>
  </header>

  {{{body}}}

  
<script src="../public/javascripts/active.js"></script>
</body>

</html>